.heading-primary {
  margin: 3rem;
}

.container {
  margin: 0px;
}

.entr {
  width: 265px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.btn-num:hover {
  background-color: #cdc7e5;
}

.btn-equal:hover {
  background-color: #fefbdb;
}

.btn-operator:hover {
  background-color: #feec51;
}

.btn-num {
  background-color: #cdc7e5;
}

.btn-operator {
  background-color: #feec51;
}

.btn-equal {
  background-color: #fefbdb;
}

.calc-container {
  background-color: #6c6c82;
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.numberButton {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
}
.btn-operator {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
}
.equalButton {
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
}

.btn-clear:hover {
  background-color: #ff816b;
}

.btn-clear {
  /* background-color: #fff27e; */
  background-color: #ff816b;
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
}
